*{
    margin: 0;
}
#titulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
nav{
    background-color: #134678;
    color:white ;
    text-align: center ;
    padding-top: 20px;
    padding-bottom: 20px;
}
#sticky{
    position: sticky;
    top: 0;
}
li{
    display: inline;
    list-style-type: none;
    padding:28px;
}
header{
    background-color: #134678;
    color:white ;
    text-align: center  ;

}
body{
    width: 1024px;
    margin: 0 auto;
}
a{
    color: white;
    text-decoration: none;
}

a:hover, abbr:hover{
    text-decoration: underline;
}
table{
    border-collapse: collapse;
    border: none;
    width: 90%;
    margin: auto;
    background-color: white;
}
tr{
    height: 2em;

}
main{
    margin-top: 15px;
    border: 2px solid black;
}
article{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.8%;
    padding-left: 3%; 
    border: 1px solid black;
}
article:nth-last-child(1){
    background-color: #134678;
}
section{
    text-decoration: overline;
}
caption{
    color: #2980b9;
}
#boton_inicio{
    position: fixed;
    left: 90%;
    bottom: 0;
}
#boton_inicio img{
    width: 100px;
    height: 100px;
}
tr>td:nth-child(1){
    background-color: #2980b9;
    color: white;
    text-align: center;
}
article:nth-last-child(1)>tr>td{
    background-color: white;
}
abbr{
    color:#2980b9;
    text-decoration: none;
}
th{
    background-color: #2980b9;
    color: white;
    text-align: center;
}
td{
    background-color: #ecf0f1;
}
i{
    display: block;
}
td:hover{
    background-color: #d5dbdb;
}

address{
    color: white;
    text-align: center;
}
h2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h1{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h3{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  td[colspan="5"]{
    color: white;
    text-align: center;
    background-color: #f39c12;
  }